$mq-xxl: 1440px !default;
$mq-xl: 1200px !default;
$mq-lg: 992px !default;
$mq-md: 768px !default;
$mq-sm: 576px !default;

@mixin desktop { //1440px
  @media (max-width: $mq-xxl) {
    @content;
  }
}
@mixin desktop-min { //1200px
  @media (max-width: $mq-xl) {
    @content;
  }
}
@mixin tablet { //992px
  @media (max-width: $mq-lg) {
    @content;
  }
}
@mixin tablet-min { //768px
  @media (max-width: $mq-md) {
    @content;
  }
}
@mixin phone { //576px
  @media (max-width: $mq-sm) {
    @content;
  }
}

//Example
/*
@include phone{
  font-size: 18px;
}
*/
