/* Connecting fonts */
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);
@font-face {
	font-family: 'CalSans';
	src: url('../files/fonts/CalSans-SemiBold.woff2') format('woff2'), url('../files/fonts/CalSans-SemiBold.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@import "../scss/reset.scss";
@import "../scss/media-requests.scss";
@import "../scss/adaptive-property.scss"; 

/* text color */
$first-color: #666666;
$second-color: #121212;

/* button color */
$btn-color: #fff;
$btn-background: #FF6428;
$darker-color: darken($btn-color, 35%);
$lighter-color: lighten($btn-color, 25%);

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: $first-color;
  background-color: #fff;;
}

[class*="__container"] {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  font-size: 16px;
  padding: 18px 48px;
  max-width: 192px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  color: $btn-color;
  background-color: $btn-background;
  transition: all 0.1s ease-out;;
  @include phone{
    max-width: 146px;
    padding: 16px 25px;
  }
  
  &:hover {
    background-color: $darker-color;
  }

  &:focus{
    background-color: $btn-color;
  }
}

@import "../scss/main-page/header.scss";


@import "../scss/main-page/footer.scss";

/* JS modules */
@import "../scss/modules/burger.scss";
@import "../scss/modules/popup.scss";

/* 
@import "../scss/modules/popup.scss";
@import "../scss/modules/burger.scss";
@import "../scss/modules/swiper.scss"; 
*/


/* <---Наработки---> */

//****HOVER****
/* 
transition: background-color .2s linear;
&:hover {
   color: darken(#fff, 25%);
}         
&:focus{
   color: #fff;
}
background-color: darken(color, 25%);
background-color: lighten(color, 25%); 
*/

//****BACKGROUND IMG****
/* 
&::after{
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  background: url("@img/callBack__phone.png") 0 0/cover no-repeat;
  width: 70px;
  height: 70px;
} 
*/

//****IMAGE****
/* <img class="logo" src="@img/logo.svg" alt="logo"> */
