.application {
    margin-bottom: 120px;
    @include tablet-min {
        margin-bottom: 80px;
    }
    .application__wrapp {
        @include tablet-min {
            flex-wrap: wrap-reverse;
        }
        .application__wrapp__content {
            max-width: 484px;
            width: 100%;
            h2 {
                font-size: 48px;
                font-family: "CalSans", sans-serif;
                font-weight: 600;
                line-height: 1.4;
                color: $second-color;
                @include tablet-min {
                    font-size: 30px;
                }
                span {
                    color: #ff6428;
                }
            }
            .application__wrapp__content-app {
                margin-top: 60px;
                max-width: 390px;
                width: 100%;
                a {
                    transition: opacity 0.2s linear;
                    &:hover {
                        opacity: 0.6;
                    }
                    &:focus {
                        opacity: 1;
                    }
                    &:first-child{
                        @include phone{
                            margin-right: 10px;
                          }
                    }
                }
            }
        }
        .application__wrapp__img {}
    }
}
