.faq{
    margin-bottom: 241px;
    padding: 94px 0px;
    background-color: #121212;
    @include tablet-min{
        margin-bottom: 80px;
        padding: 40px 0px;
    }
    h2{
        margin-bottom: 75px;
        color: #fff;
        @include tablet-min {
            margin-bottom: 40px;
        }
    }
    .faq__wrapp{
        @include tablet-min{
            flex-direction: column;
        }
        .faq__wrapp__box{
            max-width: 230px;
            width: 100%;
            text-align: center;
            @include tablet-min{
                margin-bottom: 20px;
            }
            .faq__wrapp__box-img{
                margin: 0 auto;
            }
            h3{
                font-size: 18px;
                margin: 40px 0px 12px 0px;
                font-weight: 500;
                color: #fff;
                text-transform: uppercase;
                @include tablet-min {
                    margin: 20px 0px 12px 0px;
                }
            }
            p{
                font-size: 14px;
                text-transform: capitalize;
            }
        }
    }
}