footer {
    padding: 80px 0px 43px 0px;
    background-color: #eeeeee;
    @include tablet-min {
        padding: 20px 0px 33px 0px;    
    }
    .footer__wrap {
        align-items: flex-start;
        @include tablet-min {
            flex-direction: column;
        }
        .title__footer-link {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            color: $second-color;
        }
        .footer__link {
            color: $first-color;
            opacity: 0.6;
            transition: background-color 0.2s linear;
            &:hover {
                color: darken($first-color, 25%);
            }
            &:focus {
                color: $first-color;
                opacity: 0.6;
            }
        }
        .footer__wrap-contact {
            margin-bottom: 20px;
            img {
                max-width: 202px;
                max-height: 48px;
            }
            ul {
                margin-top: 28px;
                li {
                    &:first-child {
                        margin-bottom: 20px;
                    }
                    .footer__link-email {
                        position: relative;
                        margin-left: 44px;
                        &::after {
                            position: absolute;
                            content: "";
                            top: 50%;
                            transform: translate(0, -50%);
                            background: url("@img/footer__email.svg") 0 0 / cover no-repeat;
                            left: -44px;
                            width: 24px;
                            height: 24px;
                        }
                    }
                    .footer__link-geolocation {
                        position: relative;
                        margin-left: 44px;
                        &::after {
                            position: absolute;
                            content: "";
                            top: 50%;
                            transform: translate(0, -50%);
                            background: url("@img/footer__location.svg") 0 0 / cover no-repeat;
                            left: -44px;
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
        .footer__wrap-content {
            max-width: 638px;
            width: 100%;
            align-items: flex-start;
            @include tablet-min {
                justify-content: space-around;
                flex-wrap: wrap;
            }
            .footer__wrap-content_nav {
                padding: 0 25px;
                max-width: 323px;
                width: 100%;
                @include tablet-min {
                    margin-bottom: 20px;
                    padding: 0;
                    max-width: 240px;
                }
                .footer__wrap-content_nav-pages {
                    ul {
                        margin-top: 20px;
                        li {
                            margin-bottom: 16px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
                .footer__wrap-content_nav-product {
                    ul {
                        margin-top: 20px;
                        li {
                            margin-bottom: 16px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
            .footer__wrap-content_social {
                .footer__wrap-content_social-link {
                    margin-top: 12px;
                    width: 160px;
                    @include tablet-min {
                        width: 100%;
                    }
                }
            }
        }
    }
    .footer__copyright {
        margin-top: 80px;
        @include tablet-min {
            margin-top: 20px;      
        }
        p {
            text-align: center;
            color: $first-color;
            opacity: 0.6;
        }
    }
}
