.reviews{
    margin-bottom: 240px;
    @include tablet-min {
        margin-bottom: 80px;
    }
    h2{
        margin-bottom: 110px;
        @include tablet-min {
            margin-bottom: 40px;
        }
    }
    .reviews__wrapp{
        justify-content: space-evenly;
        .reviews__wrapp__img{
            img{
                @include phone{
                    display: none;
                  }
            }
        }
        .reviews__wrapp__content{
            margin-left: 40px;
            max-width: 524px;
            width: 100%;
            @include phone{
                margin-left: 0px;
              }
            h3{
                font-size: 24px;
                line-height: 1.4;
                @include tablet-min {
                    font-size: 20px;
                }
            }
            h4{
                font-size: 24px;
                margin: 56px 0px 8px 0px;
                font-weight: 600;
                color: #000;
                @include tablet-min {
                    font-size: 18px;
                }
            }
            p{
                font-size: 18px;
                font-weight: 500;
                color:#868686;
                @include tablet-min {
                    font-size: 16px;
                }
            }
        }
    }
}