.store {
    margin-bottom: 180px;
    @include tablet-min {
        margin-bottom: 80px;
    }
    h2 {
        margin-bottom: 86px;
        @include tablet-min {
            margin-bottom: 40px;
        }
    }
    .store__guitars {
        .store__guitars__categories {
            margin-bottom: 96px;
            @include tablet-min {
                margin-bottom: 40px;
            }
            &:last-child {
                margin-bottom: 0px;
            }
            .store__guitars__title {
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    color: $second-color;
                    text-transform: uppercase;
                    @include tablet-min {
                        font-size: 16px;
                    }
                }
                a {
                    font-size: 20px;
                    color: #868686;
                    @include tablet-min {
                        font-size: 16px;
                    }
                }
            }
            .store__guitars__product {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 54px;
                @include tablet-min {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 26px;
                }
                .store__guitars__box {
                    margin-top: 32px;
                    h4 {
                        margin: 40px 0px 7px 0px;
                        font-weight: 500;
                        color: $second-color;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
